body {
  font-family: 'Nunito Sans', sans-serif;
    background-image: 
    /* top, transparent red */
    linear-gradient(
      rgba(0, 138, 138, 0.8),
      rgba(0, 138, 138, 0.2)
    ),
    /* your image */
    url('../img/pexels-cottonbro-studio-7579827.jpg');
    max-width: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    height: 850px;
}

/* HEADER */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --white: rgb(255, 253, 253);
  --darkcyan: rgb(12, 168, 168) ; 
  --darkblue: #00468b; 
  --darkgreen: #008b46;
  --darkgray: rgb(58, 54, 54);
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 90%;
  background-color: white;
  color: darkcyan;
  padding: 0 2rem 0 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 50px 10px rgba(72, 69, 69, 0.2);
  position: fixed;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

header li, a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  list-style: none;
}

.nav_links li {
  display: inline-block;
}

.nav_links li a {
  display: inline-block;
  transition: all 0.3s ease 0s;
  color: darkcyan;
  padding: 0.5rem;
  border-radius: 10%;
  width: 100px;
}

.nav_links li a:hover {
  font-weight: bold;
}

/* CONTAINER */

.phrase-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--darkblue);
  width: 80%;
  margin: 80px auto 20px auto;
  height: 700px;
  line-height: 7rem;

}

.phrase-container h2 {
  text-align: left;
  color: var(--white);
  font-size: 40px;
  font-weight: 300;
}

.big {
  color: var(--white);
  font-size: 80px;
  font-weight: 800;
  text-shadow: 0 10px 50px 10px rgba(72, 69, 69, 0.2); 
}

.row-phrase-schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.row-phrase-track {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row-phrase-all {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* MARKET */

.intro-text {
  text-align: center;
  width:50%;
  font-weight: 200;
  padding: 2rem 0 2rem 0;
}

h3 {
  text-align: center;
}

h4{
  font-size: 40px;
  font-weight: 500;
  font-family: "Libre Baskerville", serif;
}

h5 {
  font-size: 15px;
  font-weight: 200;
  padding-bottom: 0.5rem;
  
}
.libre-font {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-weight: 300;
}

.low-font {
  font-size: 10px;
}
.market-container{
  background-color: var(--darkgreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 70vh;
  color: white;
  padding: 2rem;
}

.market-numbers {
  display: flex;
  justify-content: center;
  width: 30%;
}

.market-each-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px 0 50px;
}

.partners-container{
  background-color: var(--darkcyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 70vh;
  color: white;
  padding: 2rem;
}


.icons-hospitals{
  width: 80%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.icons-hospitals img {
  padding: 0 20px 0 20px;
  width: auto;
  height: 100px;
}


footer  {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #008b46;
  color: white;
  padding: 2rem;
}

.bold {
  font-weight: 500;
}

.footer-cols {
  font-weight: 200;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 1rem;
}

.footer-col {
  width: 30%;
  line-height: 1.2rem;
}
.footer-col h2{
  text-align: center;
  font-size: 30px;
}

@media(max-width: 770px) {

header {
  width: 100%;
  padding: 0 1rem 0 1rem;
  height: 60px;
  border-radius: 0;
    top: 0rem;
}

header h2 {
  font-size: 20px;
}

header li, a {
  font-size: 10px;
  padding: 0;
}

header a {
  font-size: 13px;
  padding: 0;
}

.nav_links li a {
  width: 80px;
}

.phrase-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--darkblue);
  width: 100%;
  margin: 0 auto 20px auto;
  height: 700px;
  line-height: 5rem;
}

.big {
  font-size: 60px;
}

.row-phrase-schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row-phrase-track {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row-phrase-all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .market-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    width: 50%;
  }
  .market-each-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
  }

  .market-container p,
  .partners-container p{
    font-size: 15px;
  }
  .market-container h3,
  .partners-container h3{
    font-size: 20px;
  }
  .market-container h4 {
    font-size: 25px;
  }

  .icons-hospitals img {
  padding: 10px 0 10px 0;
  width: auto;
  height: 80px;
}
}

@media(max-width: 570px) {

  .phrase-container h2 {
    text-align: left;
    color: var(--white);
    font-size: 25px;
    font-weight: 300;
  }

  .big {
  font-size: 50px;
}
  .icons-hospitals{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 1020px) {
  .intro-text {
  text-align: center;
  width:80%;
  font-weight: 200;
  padding: 1rem 0 1rem 0;
  }

  h3 {
    text-align: center;
  }

  h4{
    font-size: 30px;
    font-weight: 500;
  }

  h5 {
    font-size: 15px;
    font-weight: 200;
    padding-bottom: 0.5rem;
  }
  .libre-font {
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    font-weight: 300;
  }

  .low-font {
    font-size: 10px;
  }
  .market-container{
    height: auto;
  }

  .partners-container{
    height: auto;
  }

  footer  {
    height: auto;
    width: 100%;
    padding: 0.5rem;
  }

  .footer-cols {
    font-size: 10px;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .footer-col {
    width: 33%;
    line-height: 1rem;
  }
  .footer-col h2{
    font-size: 20px;
  }
}